<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab 01: Ozone Data

---

### 1. Import the data

In [13]:
import pandas as pd

ozonefile = "../data/ozone.csv"
ozonefile = pd.read_csv(ozonefile)

### 2. Print the column names of the dataset to the screen, one column name per line.

In [18]:
for col in ozonefile:
    print(col)

Ozone
Solar.R
Wind
Temp
Month
Day

### 3. Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [24]:
temp = ozonefile.loc[:1]
temp

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

### 4. How many observations (i.e. rows) are in this data frame?

In [26]:
ozonefile.shape

(153, 6)

### 5. Extract the last 2 rows of the data frame and print them to the console. What does the output look like?

In [27]:
ozonefile.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

### 6. What is the value of Ozone in the 47th row?

In [29]:
ozonefile.loc[47:47, 'Ozone']

47    37.0
Name: Ozone, dtype: float64

### 7. How many missing values are in the Ozone column of this data frame?

In [31]:
ozonefile['Ozone'].isnull().sum()

37

### 8. What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA) from this calculation.

In [33]:
ozonefile.Ozone.dropna().mean()

42.12931034482759

### 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. What is the mean of Solar.R in this subset?

In [35]:
ozonefile.head(1)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1

In [39]:
ozonefile[(ozonefile.Ozone > 31) & (ozonefile.Temp >90)]['Solar.R'].mean()

212.8

### 10. What is the mean of "Temp" when "Month" is equal to 6?

In [43]:
ozonefile[ozonefile.Month == 6]['Temp'].mean()

79.1

### 11. What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [46]:
ozonefile[ozonefile.Month == 5]['Ozone'].max()

115.0