In [120]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score

In [127]:
DATA_FILE = r'../Data/rm_working_files/rm_working_files/right_move_data_final1.csv'
DATA_READY = r'../Data/rm_working_files/right_move_data_final2.csv'

In [115]:
df = pd.read_csv(DATA_FILE, thousands=' ')

In [105]:
df['median wage'].replace(',' , '')

0        33700
1        26800
2        28700
3        25900
4        25100
         ...
17060    26800
17061    27000
17062    27000
17063    24800
17064    53200
Name: median wage, Length: 17065, dtype: int64

In [92]:
#df["a"] = pd.to_numeric(df["a"])
df['nearest stattion'] = df['nearest stattion'].replace('Nothing within a 2km radius', 0)
df['nearest stattion'].astype(float)

0        1331.846920
1        1300.427155
2        1128.468311
3        1195.378497
4        1633.120974
            ...
19878     169.950557
19879     514.073892
19880     183.652644
19881     183.652644
19882      94.658002
Name: nearest stattion, Length: 19883, dtype: float64

In [93]:
df['median wage'].value_counts()

28000    1981
25900    1175
28800     993
24000     993
28600     993
28700     991
31600     990
31400     989
25700     985
33700     985
25600     980
35400     967
25100     953
25400     725
25300     699
27600     681
24500     654
22800     568
27000     507
26800     460
31900     370
30300     362
32600     338
24800     280
53200     149
26300      91
30700      24
Name: median wage, dtype: int64

In [94]:
df['population'].head()

0    356400
1    356400
2    356400
3    356400
4    356400
Name: population, dtype: int64

In [95]:
df['population'].astype(int)

0        356400
1        356400
2        356400
3        356400
4        356400
          ...
19878    219400
19879    219400
19880    219400
19881    219400
19882    219400
Name: population, Length: 19883, dtype: int32

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19883 entries, 0 to 19882
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           19883 non-null  int64
 1   price                                19883 non-null  int64
 2   bedrooms                             19883 non-null  int64
 3   address                              19883 non-null  object
 4   latitude                             19883 non-null  float64
 5   longitude                            19883 non-null  float64
 6   propertyType                         19883 non-null  object
 7   summary                              19883 non-null  object
 8   bourough                             19883 non-null  object
 9   outdoor space                        19883 non-null  bool
 10  postcode                             19883 non-null  object
 11  postcode first section               19881 non-null  object
 12  nearest stattion                     19883 non-null  float64
 13  number of stops within 2kms          19883 non-null  int64
 14  population                           19883 non-null  int64
 15  median wage                          19883 non-null  int64
 16  total number of schools_y            19883 non-null  int64
 17  percentage attedning private school  19883 non-null  float64
dtypes: bool(1), float64(4), int64(7), object(6)
memory usage: 2.6+ MB

In [124]:
df.drop_duplicates(subset=['postcode','price'], inplace=True)

In [126]:
df.to_csv(DATA_READY)